body {
    width: 300px;
}
.mgfloor-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.mgfloor-content .title {
    font-size: 16px;
    font-weight: 600;
}
#mgicfloor-btn {
    width: 80px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
}

.open {
    background-color: green!important;
}
